In [18]:
#1st Method getting single/multiple stocks

import yfinance as yf

symbol = {'AAPL', 'KRBN'}
start = '2012-01-01'
end = '2022-03-27'
yf.pdr_override()

df = yf.download(symbol, start, end)

df.info()

[*********************100%***********************]  2 of 2 completed
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2575 entries, 2012-01-03 to 2022-03-25
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2575 non-null   float64
 1   (Adj Close, KRBN)  417 non-null    float64
 2   (Close, AAPL)      2575 non-null   float64
 3   (Close, KRBN)      417 non-null    float64
 4   (High, AAPL)       2575 non-null   float64
 5   (High, KRBN)       417 non-null    float64
 6   (Low, AAPL)        2575 non-null   float64
 7   (Low, KRBN)        417 non-null    float64
 8   (Open, AAPL)       2575 non-null   float64
 9   (Open, KRBN)       417 non-null    float64
 10  (Volume, AAPL)     2575 non-null   int64
 11  (Volume, KRBN)     417 non-null    float64
dtypes: float64(11), int64(1)
memory usage: 261.5 KB

In [19]:
df.head()

            Adj Close           Close            High             Low       \
                 AAPL KRBN       AAPL KRBN       AAPL KRBN       AAPL KRBN
Date
2012-01-03  12.575918  NaN  14.686786  NaN  14.732143  NaN  14.607143  NaN
2012-01-04  12.643502  NaN  14.765714  NaN  14.810000  NaN  14.617143  NaN
2012-01-05  12.783873  NaN  14.929643  NaN  14.948214  NaN  14.738214  NaN
2012-01-06  12.917512  NaN  15.085714  NaN  15.098214  NaN  14.972143  NaN
2012-01-09  12.897020  NaN  15.061786  NaN  15.276786  NaN  15.048214  NaN

                 Open          Volume
                 AAPL KRBN       AAPL KRBN
Date
2012-01-03  14.621429  NaN  302220800  NaN
2012-01-04  14.642857  NaN  260022000  NaN
2012-01-05  14.819643  NaN  271269600  NaN
2012-01-06  14.991786  NaN  318292800  NaN
2012-01-09  15.196429  NaN  394024400  NaN

In [1]:
#2nd Method getting single stocks

In [2]:
import pandas_datareader.data as web
import datetime

In [3]:
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [4]:
start = datetime.datetime(2009,10,18)
end = datetime.datetime(2022,4,7)

In [5]:
apple = web.DataReader("AAPL","yahoo",start,end)

In [6]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3140 entries, 2009-10-19 to 2022-04-07
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       3140 non-null   float64
 1   Low        3140 non-null   float64
 2   Open       3140 non-null   float64
 3   Close      3140 non-null   float64
 4   Volume     3140 non-null   float64
 5   Adj Close  3140 non-null   float64
dtypes: float64(6)
memory usage: 171.7 KB

In [7]:
apple.head()

                High       Low      Open     Close        Volume  Adj Close
Date
2009-10-19  6.785714  6.626786  6.708929  6.780714  9.422308e+08   5.806153
2009-10-20  7.205357  7.066071  7.164286  7.098571  1.141039e+09   6.078324
2009-10-21  7.453929  7.115357  7.125714  7.318571  1.193727e+09   6.266704
2009-10-22  7.423214  7.232500  7.310714  7.328571  7.913920e+08   6.275267
2009-10-23  7.350000  7.258214  7.346429  7.283571  4.207868e+08   6.236736

In [15]:
#China A share
import baostock as bs
import pandas as pd
lg = bs.login()

rs_result = bs.query_history_k_data_plus("sh.600000",
                                         fields="date,open,high, low, close,preclose,volume,amount,adjustflag",
                                         start_date='2017-07-01', 
                                         end_date='2017-12-31', 
                                         frequency="d", 
                                         adjustflag="3")
df2 = rs_result.get_data()

bs.logout()

login success!
logout success!

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        125 non-null    object
 1   open        125 non-null    object
 2   high        125 non-null    object
 3   low         125 non-null    object
 4   close       125 non-null    object
 5   preclose    125 non-null    object
 6   volume      125 non-null    object
 7   amount      125 non-null    object
 8   adjustflag  125 non-null    object
dtypes: object(9)
memory usage: 8.9+ KB